* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fonte-padrao;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 50px 10px;
    @include media("medium") {
        padding: 15px;
    }

    h1 {
        font-size: 32px;
        font-family: $fonte-titulo;
        font-weight: 700;
        margin-bottom: 32px;
        @include media("medium") {
            max-width: 90%;
            margin: auto auto 32px auto;
        }
    }

    h3 {
        font-size: 24px;
        font-family: $fonte-titulo;
        font-weight: 700;
        align-self: end;
    }

    img {
        width: 100%;
        height: auto;
    }

    p {
        color: #858585;
        font-weight: 400;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ff5a5f;
}

::-webkit-scrollbar-thumb:hover {
    background: #ec3f45;
}
