@import "../utils/breakpoints";

form#formulario {
    display: grid;
    gap: 15px;
    max-width: 702px;

    @include media("medium") {
        margin-bottom: 70px;
        gap: 35px;
    }

    .divisao-vertical {
        display: grid;
        grid-template-columns: 40% 58%;
        gap: 10px;
        min-height: 212px;

        @include media("medium") {
            grid-template-columns: unset;
        }

        .show-image {
            position: relative;
            overflow: hidden;

            @include media("medium") {
                min-width: 280px;
                min-height: 200px;
                overflow: hidden;
                width: 80%;
            }
            @include media("small") {
                min-width: 200px;
            }

            label#image-select {
                height: 100%;
                display: grid;
                align-items: center;
                text-align: center;
                z-index: 2;
                position: absolute;
                width: 100%;
            }

            div#image-box {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;

                img {
                    min-width: 250px;
                }
            }
        }

        .input {
            border: solid 1px #e5e5e5;
            display: block;
            outline: none;
            color: #858585;
            border-radius: 5px;

            &#input-titulo {
                padding: 10px 10px;
                width: 75%;
                margin-bottom: 10px;

                @include media("medium") {
                    width: 100%;
                }
            }

            &#input-descricao {
                padding: 20px 10px;
                width: 100%;
                height: 78%;
                resize: none;
            }
        }
    }

    button {
        padding: 18px 26px;
        background-color: #ff5a5f;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        margin-left: auto;
        cursor: pointer;
        font-size: 16px;

        @include media("medium") {
            margin-left: unset;
        }
    }
}
