div#pontos-turisticos {
    display: grid;
    grid-template-columns: 48% 50%;
    gap: 15px;

    @include media("large") {
        grid-template-columns: unset;
        gap: 25px;
    }

    .bloco-turistico {
        display: grid;
        max-width: 600px;
        grid-template-columns: 50% 50%;
        gap: 25px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
        border-radius: 10px;

        @include media("medium") {
            grid-template-columns: 100%;
            place-content: center;
        }

        img {
            min-width: 288px;
            max-width: 288px;
            max-height: 212px;

            @include media("medium") {
                min-width: 100%;
                max-width: 100%;
                max-height: unset;
                margin: auto;
            }
        }

        .infos {
            display: grid;
            gap: 20px;
            text-align: initial;
            @include media("medium") {
                text-align: center;
                padding-bottom: 30px;
                gap: 0px;
            }

            h3 {
                text-align: initial;
                @include media("medium") {
                    min-height: 75px;
                    margin-left: 12%;
                }
            }
            p {
                text-align: justify;
                width: 85%;
                max-width: 240px;
                max-height: 145px;
                overflow: auto;
                @include media("medium") {
                    max-width: 75%;
                    margin: auto;
                }
            }
        }
    }
}
